@media only screen and (max-width: 602px) {
   .navBar {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      /* margin-top: 1%; */
      white-space: nowrap;
      background-color: papayawhip;
      text-align: center;
      top: 0px;
      z-index: 9999;
      position: sticky;
   }

   h1 {
      text-align: center;
   }
   .container {
      margin-top: 2em;
      display: flex;
      flex-direction: row;
      gap: 1em;
      flex-wrap: wrap;
      align-items: center;
      padding-bottom: 3%;
   }
   .img-card {
      object-fit: cover;
      aspect-ratio: 200/200;
      width: 100%;
      height: 100%;
   }

   .box {
      border: 1px solid black;
      width: 60%;
      padding: 1.5em;
      height: 80%;
      border-radius: 10px;
   }

   .container {
      padding-left: 20%;
      text-align: justify;
      margin: 0;
   }

   .logo {
      width: 100px;
      height: 100px;
      margin-top: -40%;
      margin-bottom: -55%;
      margin-left: -100%;
   }

   .textCenter {
      font-weight: 600;
      color: pink;
      text-shadow: 4px 4px 2px black;
      font-family: "Twinkle Star";
      font-size: 50%;
      font-style: italic;
      padding-left: 30%;
   }

   .imgHeader {
      background-image: url("/Week 1 Checkpoint 2/content/header-background-mobile.png");
      background-size: contain;
      padding-bottom: 20%;
      padding-left: 20%;
      padding-top: 13%;
      text-align: center;
   }
}
